{% extends "blog/post_base.html" %}

{% block title %}post_list.html{% endblock title %}

{% block content %}
    <ul class="list-group">
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}" class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title }}</h5>
                <p>
                    Tags:
                    {% for tag in post.tags.all %}
                        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                        {{ tag.name }}
                        </a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                <small>{{ post.published }}</small>
            </div>
        </a>
    {% endfor %}
    </ul>
    {% include 'blog/post_pagination.html' %}
{% endblock content %}